In [1]:
a=10

In [2]:
a

10

In [4]:
print(a,'a')

10 a

# FORMAT PRINT

In [9]:
a='sriram'

In [10]:
print(a)

sriram

In [18]:
print("my name is ()",format(a))

my name is () sriram

In [24]:
print("my name is {name}".format(name="parandhaman"))

my name is parandhaman

In [41]:
print("my name is {name} ,  I am STUDYING in {college}".format(name="Parandhaman",college = "PMIST"))

my name is Parandhaman ,  I am STUDYING in PMIST

In [42]:
print("my name is {name}, I AM STUDYING in {college}".format(name="Sriram",college="PMIST"))

my name is Sriram, I AM STUDYING in PMIST

In [44]:
print("my name is {},I AM STUDYING {}".format('Sriram',"PMIST"))

my name is Sriram,I AM STUDYING PMIST

In [46]:
print("my name is {},I AM STUDYING at {}".format('Parandhaman',"PMIST"))

my name is Parandhaman,I AM STUDYING at PMIST

# F-PRINT

In [47]:
print(f"my name is {'Sriram'}.i am {'AI and ML'} engineer")

my name is Sriram.i am AI and ML engineer

# TASK 1
She "sell" Sea shell in "sea shore"

In [52]:
E='"sell"'
G='"in sea shore"'

In [53]:
print("she",E,"sea shell",G )

she "sell" sea shell "sea shore"

In [62]:
print("she{}sea shell in{}".format('"sell"','"sea shore"'))

she"sell"sea shell in"sea shore"

In [63]:
input()

19800

'19800'

In [67]:
var1=input()

sriram

In [68]:
var1

'sriram'

In [72]:
var=int(input("enter your age"))

enter your age22

In [70]:
var

'22'

In [73]:
type(var)

int